@use "./variables" as *;

.contactme {
  overflow: hidden;
  margin-block: 5rem;
  max-width: 100rem;
  margin-inline: auto;
  &__title {
    font-family: $font-fam;
    font-size: 3rem;
    margin-left: 11rem;
    margin-bottom: 3rem;
  }
  &__container {
    display: flex;
    overflow: hidden;
    max-width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.contact {
  &__icon {
    width: 5rem;
    height: 4rem;
  }
}
