@use "./variables" as *;

* {
  margin: 0;
  padding: 0;
  display: block;
  font-family: $font-fam;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  @media (min-width: 1440px) {
    font-size: 0.7vw;
  }
}

body {
  background-color: #1a1919;
opacity: 0.8;
background: $black;
  color: $font-color;
  padding: 3rem;
}
