@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap");

$black: hsl(0, 2%, 10%, 1);
$font-fam: "Montserrat", sans-serif;
$font-color: hsl(0, 0%, 100%);
$font-secondary: hsl(0, 0%, 80%);
$project-body: #313030;
$project-button: #4e4e4e;
